.order-card .card-text {
    font-size: 12px;
}

.product-link-container {
    text-align: right;
}

.order-book-image {
    max-height: 100px;
}

.order-card {
    margin: 10px;
}

.product-link-container {
    float: right;
}

.card-body-inner-container {
    float: left;
    text-align: left;
}