.book-cover {
    max-width: 350px;
    border-radius: 50px;
}

.reviews-container {
    margin-top: 30px;
}

.book-cost {
    font-size: 18px;
    font-weight: 700;
}

.book-detail {
    margin-top: 30px;
}

.add-to-cart {
    margin-left: 10px;
}

.book-collapse {
    text-align: left;
}

.rating {
    font-weight: 700;
    text-decoration: underline;
}

.review-card-body {
    margin-bottom: 10px;
}

.description-collapse {
    text-align: left;
}

.reviews-pagination {
    display: flex;
    justify-content: center;
}

.review-text, .book-description {
    white-space: pre-line;
}

.book-detail-info {
    text-align: left;
}