.header-container {
    text-align: left;
}

.cart-card {
    width: 100%;
    text-align: left;
    margin: 10px;
}

.cart-card .card-text {
    font-size: 12px;
}

.cart-link-container {
    text-align: right;
}

.cart-icons-container {
    float: left;
}

.cart-icons-container,
.cart-checkout-icons-container {
    text-align: right;
}

.cart-orders-clear-icon {
    margin-right: 10px;
}

.checkout-detail {
    text-align: left;
}